/* oik-blocklist/style.scss */
pre.wp-block-oik-block-blocklist {
    font-size: 10px;
  }

.wp-block-oik-block-blocklist svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  fill-rule: evenOdd;
}
