.wp-block-oik-block-blockicon {
  .is-style-svg64 {
    svg {
      width: 64px;
      height: 64px;
      max-height: 64px;
      max-width: 64px;
    }
  }

}

.wp-block-oik-block-blocklist {
  pre {
    font-size: 12px;
  }
}