/* oik-blockicon/style.scss */
.wp-block-oik-block-blockicon svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.wp-block-oik-block-blockicon.svg64 svg {
  width: 64px;
  height: 64px;
}

.svg64 .block-editor-block-icon,
.svg64 .block-editor-block-icon svg {
  width: 64px;
  height: 64px;
  max-height: 64px;
  max-width: 64px;
}


.wp-block-oik-block-blockicon.is-style-svg64 {
    svg {
      width: 64px;
      height: 64px;
      max-height: 64px;
      max-width: 64px;
    }

  .dashicon, .dashicons-before:before {
    width:64px;
    height: 64px;
    font-size: 64px;
  }

  .block-editor-block-icon {
    width: 64px;
    height: 64px;
  }


}

/**
 Override default styling for block icons.
 */
.wp-block-oik-block-blockicon .block-editor-block-icon {
  display: inline;
}

@mixin sizeablesvg( $svg-size, $sizepx ) {
  .wp-block-oik-block-blockicon.#{$svg-size} svg {
    width: $sizepx;
    height: $sizepx;
  }

  .#{$svg-size} .block-editor-block-icon,
  .#{$svg-size} .block-editor-block-icon svg {
    width: $sizepx;
    height: $sizepx;
    max-height: $sizepx;
    max-width: $sizepx;
  }


  .wp-block-oik-block-blockicon.is-style-#{$svg-size} {
    svg {
      width: $sizepx;
      height: $sizepx;
      max-height: $sizepx;
      max-width: $sizepx;
    }

    .dashicon, .dashicons-before:before {
      width:$sizepx;
      height: $sizepx;
      font-size: $sizepx;
    }

    .block-editor-block-icon {
      width: $sizepx;
      height: $sizepx;
    }


  }

}
@include sizeablesvg( svg100, 100px );
@include sizeablesvg( svg150, 150px );



